@import "tailwindcss";

@theme inline {
    --font-mono: var(--font-jetbrains-mono);
    --font-sans: "Inter", -apple-system, "sans-serif";
}

body {
    @apply dark:bg-neutral-950;
    @apply dark:text-neutral-200;
}
