---
import Layout from "../layouts/Layout.astro";
import { getSecret } from "astro:env/server";
import Countdown from "../components/Countdown.astro";
import Footer from "../components/Footer.astro";

const target = new Date(getSecret("TARGET_JAKYAO_DATE")!);
const overtime = Date.now() > target.getTime();
const sk_generation = Number(getSecret("SK_GENERATION"));
---

<Layout>
    <div class="flex flex-col h-dvh p-6 items-center">
        <div class="flex flex-col flex-1 items-center justify-center gap-3">
            <Countdown target={target.getTime()} />

            {overtime ? "after" : "until"} jakyao SK{sk_generation}
        </div>

        <Footer target={target} />
    </div>
</Layout>
